.sidebar {
    position:fixed;
    width: 250px; /* Fixed width */
    height: auto; /* Full height */
    background-color: #092346; /* Set background color */
    padding: 20px;
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
    
}


